ReturnBuilder/src/META-INF/wsdl/localhost_8080/OneSumxWebServices/FileSubmission.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://onesumx.bbt.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://onesumx.bbt.com/">

<xs:element name="uploadFile" type="tns:uploadFile"/>

<xs:element name="uploadFileResponse" type="tns:uploadFileResponse"/>

<xs:complexType name="uploadFile">
<xs:sequence>
<xs:element name="arg0" type="tns:inputStream" minOccurs="0"/>
<xs:element name="arg1" type="tns:formDataContentDisposition" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputStream" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="formDataContentDisposition">
<xs:complexContent>
<xs:extension base="tns:contentDisposition">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="contentDisposition">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="uploadFileResponse">
<xs:sequence>
<xs:element name="return" type="tns:response" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="response" abstract="true">
<xs:sequence/>
</xs:complexType>
</xs:schema>